# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
UnityProject/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# ============ #
# JS generated #
# ============ #
server/**/*.js.map
server/**/*.js
client/**/*.js.map
client/**/*.js
node_modules
!client/scripts/lib/**/*