# ========================== #
# Nodejs generated generated #
# ========================== #
node_modules/
# =============== #
# Unity generated #
# =============== #
UnityProject/Temp/
UnityProject/Obj/
UnityProject/UnityGenerated/
UnityProject/Library/
UnityProject/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
UnityProject/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db