body,
html {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    -webkit-box-sizing: border-box;
}

canvas {
    position: fixed;
    display: block;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.units {
    bottom: 50px;
    width:50px;
    background-image: url('/assets/gui/button.png');
}

#units {
   position:absolute;
   bottom :30px;
}

#container {
    position: fixed;
}
#hud {
    position: fixed;
    background-image: url('/assets/gui/panel.png');
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0%;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: green;
}

.buildings {
    top: 50%;
    width: 50px;
    height: 50px;
}

#money {
    position: absolute;
    background-color: orangered;
    top: 100px;
    left: 200px;
    width: 200px;
    height: 50px;
}
#name {
    position: absolute;
    background-color: orangered;
    top: 300px;
    left: 200px;
    width: 200px;
    height: 50px;
}
.life {
    background-color: orangered;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 50px;
}