body,
html {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    -webkit-box-sizing: border-box;
}

canvas {
    display: block;
}

.units {
    Position: absolute;
    bottom: 10px;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container canvas, #hud {
    position: fixed;
}
.units {
    width :50px;
    height:50px;
    position:relative;
}
.buildings {
    width :50px;
    height : 50px;
}
